### Retail_Sales_Data_Analysis_Example2

This Data anaysis covers below mentioned questions.
Considering given data set is already cleaned.

1. How many unique shops are in the dataset?
<br>2. How many unique preferred and cross border shops are in the dataset?
<br>3. How many products have zero sold count?
<br>4. How many products were created in the year 2018?
<br>5. Top 3 Preferred shops’ shopid that have the largest number of unique products
<br>6. Top 3 Categories that have the largest number of unique cross-border products
<br>7. Find Top 3 shopid with the highest revenue (Assumption: the product price has not been changed.) 
<br>8. Find number of products that have more than 3 variations (do not include products with 3 or fewer variations)
<br>9. Identify duplicated listings within each shop (If listing A and B in shop S have the exactly same product title, product detailed description, and price, both listing A and B are considered as duplicated listings)
<br>10. Mark those duplicated listings with True otherwise False and store the marking result in a new column named “is_duplicated” 
<br>11. Find duplicate listings that has less than 2 sold count and store the result in a new excel file named “duplicated_listings.xlsx”
<br>12. Find the preferred shop shopid that have the most number of duplicated listings

In [ ]:
### This data set already cleaned

In [1]:
import pandas as pd
data = pd.read_excel("Test_Pandas.xlsx")
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34

In [4]:
columns = data.columns
print(columns)

Index(['itemid', 'shopid', 'item_name', 'item_description', 'item_variation',
       'price', 'stock', 'category', 'cb_option', 'is_preferred', 'sold_count',
       'item_creation_date'],
      dtype='object')

In [6]:
#1 	How many unique shops are in the dataset?
print(data.shopid.nunique())

7856

In [7]:
#2 How many unique cross border shops are in the dataset?
print(data.cb_option.nunique())

2

In [8]:
#2 How many unique preferred shops are in the dataset?
print(data.is_preferred.nunique())

2

In [22]:
#3 How many products have zero sold count?
print(len(data[data["sold_count"]==0]))

438092

In [35]:
#4 How many products were created in the year 2018?
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464433 entries, 0 to 464432
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   itemid              464433 non-null  int64
 1   shopid              464433 non-null  int64
 2   item_name           464409 non-null  object
 3   item_description    463336 non-null  object
 4   item_variation      464433 non-null  object
 5   price               464433 non-null  float64
 6   stock               464433 non-null  int64
 7   category            464422 non-null  object
 8   cb_option           464433 non-null  int64
 9   is_preferred        464433 non-null  int64
 10  sold_count          464433 non-null  int64
 11  item_creation_date  464433 non-null  object
 12  year                464433 non-null  object
dtypes: float64(1), int64(6), object(6)
memory usage: 35.4+ MB

In [30]:
data["item_creation_date"] = data["item_creation_date"].astype(str)
data["year"] = data["item_creation_date"].apply(lambda x : x.split ("-")[0])
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016

In [36]:
#4 .	How many products were created in the year 2018?
print(len(data[data["year"] == '2018']))

177407

In [86]:
#5 	Top 3 Preferred shops’ shopid that have the largest number of unique products
#data["itemid"].nunique()
s1 = data[data["is_preferred"] == 1]
s2 = s1.groupby("shopid", as_index=False).count()

s3 = s2.nlargest(3,"itemid")
s3[["shopid","itemid"]]

       shopid  itemid
481  43384791    2034
156   6072241    1998
365  26974701    1037

In [93]:
#6	Top 3 Categories that have the largest number of unique cross-border products

s4 = data[data["cb_option"] == 1]
s5 = s4.groupby("category", as_index = False).count()
s6 = s5.nlargest(3,"itemid")
s6[["category","itemid"]]

            category  itemid
17   Women's Apparel   80494
12  Mobile & Gadgets   58760
10        Men's Wear   51795

In [103]:
 #7 	Find Top 3 shopid with the highest revenue (Assumption: the product price has not been changed.) 
    
data["Sales"] = data["price"] * data["sold_count"]
revenue = data.groupby("shopid", as_index = False).sum()
s7 = revenue.nlargest(3, "Sales")
s7[["shopid", "Sales"]]

        shopid      Sales
4842  18796234  177897.79
6042  30769353   63491.39
6027  30628794   39852.00

In [105]:
# 8.	Find number of products that have more than 3 variations (do not include products with 3 or fewer variations)
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,Sales
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0

In [121]:
df = data[data["item_name"].duplicated(keep = False)]
df.nunique()

itemid                464433
shopid                  7856
item_name             118345
item_description      178753
item_variation        167199
price                   9034
stock                   5338
category                  20
cb_option                  2
is_preferred               2
sold_count               221
item_creation_date    242929
year                       4
Sales                   5378
Grouped               167199
dtype: int64

In [125]:
data.head(20)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,Sales,Grouped
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.00,{}
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.00,{}
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.00,{}
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.00,{}
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.00,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.00,"{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ..."
5,20047128,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...",35.00,299,Men's Wear,0,0,1,2016-05-09 01:18:21,2016,35.00,"{NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3..."
6,78419076,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo Super Hydrating Perfect Gel Moisturi...,"{Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...",28.72,8,Health & Beauty,0,1,5,2016-10-20 11:17:41,2016,143.60,"{Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni..."
7,252736983,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo is a skin care line researched & dev...,{},28.72,8,Health & Beauty,0,1,1,2017-05-09 18:33:30,2017,28.72,{}
8,793229430,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98, XL: 9.98}",9.98,400,Women's Apparel,1,0,0,2017-12-28 19:55:45,2017,0.00,"{S: 9.98, M: 9.98, L: 9.98, XL: 9.98}"
9,809446063,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98}",9.98,300,Women's Apparel,1,0,0,2018-01-05 16:08:24,2018,0.00,"{S: 9.98, M: 9.98, L: 9.98}"
10,809446145,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Colors: BalckStyle: Sexy BraSize Type: Regular...,"{S: 11.48, M: 11.48, L: 11.48, XL: 11.48}",11.48,400,Women's Apparel,1,0,0,2018-01-05 16:08:26,2018,0.00,"{S: 11.48, M: 11.48, L: 11.48, XL: 11.48}"
11,809427287,49082000,Women Backpack Synthetic Leather Backpacks Sof...,Material: Synthetic LeatherLining: Polyester3 ...,"{Black: 17.66, Grey: 17.66, Red: 17.66}",17.66,300,Bags & Luggage,1,0,0,2018-01-05 16:02:41,2018,0.00,"{Black: 17.66, Grey: 17.66, Red: 17.66}"
12,809427305,49082000,Women Backpack Synthetic Leather Backpacks Sof...,Material: Synthetic LeatherLining: Polyester3 ...,"{Pink: 17.99, Black: 17.99, Grey: 17.99}",17.99,300,Bags & Luggage,1,0,0,2018-01-05 16:02:41,2018,0.00,"{Pink: 17.99, Black: 17.99, Grey: 17.99}"
13,793240796,49082000,Women Floral Lace Sexy Comfortable Low Rise No...,"Material: LycraColor: Black, WhiteStyle: Sexy ...","{Black-XL: 7.69, White-S: 7.69, Black-S: 7.69,...",7.69,800,Women's Apparel,1,0,0,2017-12-28 20:00:28,2017,0.00,"{Black-XL: 7.69, White-S: 7.69, Black-S: 7.69,..."
14,809446084,49082000,Women Floral Lace Sexy Comfortable Low Rise No...,"Material: LycraColor: Black, WhiteStyle: Sexy ...","{Black-XL: 8.32, White-S: 8.32, Black-S: 8.32,...",8.32,800,Women's Apparel,1,0,0,2018-01-05 16:08:25,2018,0.00,"{Black-XL: 8.32, White-S: 8.32, Black-S: 8.32,..."
15,809364705,49082000,Kids Backpack Toddlers Daypack Children’s Bag ...,LFGBapproved Knitting Fabric and EVA Material:...,"{Blue: 14.97, Dark Blue: 14.97, Rose Red: 14.9...",14.97,400,"Toys, Kids & Babies",1,0,0,2018-01-05 15:42:37,2018,0.00,"{Blue: 14.97, Dark Blue: 14.97, Rose Red: 14.9..."
16,809408225,49082000,Kids Backpack Toddlers Daypack Children’s Bag ...,Size：25cm x 10 cm x 32cmMaterial: Polyester Mu...,"{Blue: 12.99, Black: 12.99, Red: 12.99}",12.99,300,"Toys, Kids & Babies",1,0,0,2018-01-05 15:56:09,2018,0.00,"{Blue: 12.99, Black: 12.99, Red: 12.99}"
17,809446215,49082000,Womens Latex Sport Girdle Waist Training Corse...,3 layers of latex Fabric: Inner layer made of ...,"{Purple-M: 8.29, Black-XL: 8.29, Purple-XXL: 8...",8.29,3000,Women's Apparel,1,0,0,2018-01-05 16:08:27,2018,0.00,"{Purple-M: 8.29, Black-XL: 8.29, Purple-XXL: 8..."
18,809446365,49082000,Womens Latex Sport Girdle Waist Training Corse...,it has been crafted from stretch cotton Polye...,"{Nude-S: 8.36, Black-XL: 8.36, Nude-XL: 8.36, ...",8.36,2400,Women's Apparel,1,0,0,2018-01-05 16:08:29,2018,0.00,"{Nude-S: 8.36, Black-XL: 8.36, Nude-XL: 8.36, ..."
19,1549975,225000,Black Pleated Dress,Bought it from ohsofickleIdeal dress for dinne...,{},15.00,1,Women's Apparel,0,0,0,2015-09-17 19:09:55,2015,0.00,{}

In [236]:

data["more_4"] = data.item_variation.str.split(',').str[3]

In [237]:
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,Sales,more_4
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,NaN
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,NaN
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,NaN
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,NaN
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,NIKE SMALL SWOOSH: 35.0

In [238]:
more_3 = data.groupby("item_name", as_index = False).count()

In [239]:
pd.isna(data['more_4'])

0          True
1          True
2          True
3          True
4         False
          ...
464428    False
464429     True
464430     True
464431    False
464432    False
Name: more_4, Length: 464433, dtype: bool

In [240]:
more_3.head()

,item_name,itemid,shopid,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,Sales,more_4
0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,0
1,1,3,3,3,3,3,3,3,3,3,3,3,3,3,0
2,42,2,2,2,2,2,2,2,2,2,2,2,2,2,1
3,286,2,2,2,2,2,2,2,2,2,2,2,2,2,0
4,417,3,3,3,3,3,3,3,3,3,3,3,3,3,0

In [242]:
len(more_3[more_3["more_4"] >= 1])

64004

In [244]:
##9.	Find number of products that have more than 3 variations (do not include products with 3 or fewer variations)
d2 = more_3[more_3["more_4"] >= 1]
d2[["item_name", "more_4"]]

                                                item_name  more_4
2                                                      42       1
6                    Fashion Women Shoulder Bag Satche...       1
8              Women Fashion  Handbag Shoulder Bag Lar...       2
9              Women Fashion Tassel Handbag Shoulder B...       2
11         Fashion Handbag Lady Shoulder Bag Tote Purs...       2
...                                                   ...     ...
118330       🚛READY STOCKS💨  2WAY BAG WITH TASSEL DETAILS       2
118337                             🤗Samsung Galaxy Note 4       1
118338  🦄 BUY 1 FREE 1 We Bare Bears Assorted Design T...       2
118339  🦄 BUY 1 FREE 1 We Bare Bears Assorted Design i...       2
118344                 🦄La Riche Semi Permanent Hair Dye✨       2

[64004 rows x 2 columns]

In [21]:
data["is_duplicated"] = data.duplicated(['item_name','item_description','price'], keep=False)
data.head(10)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,is_duplicated
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,False
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,False
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,False
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,False
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.00,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,False
5,20047128,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...",35.00,299,Men's Wear,0,0,1,2016-05-09 01:18:21,False
6,78419076,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo Super Hydrating Perfect Gel Moisturi...,"{Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...",28.72,8,Health & Beauty,0,1,5,2016-10-20 11:17:41,False
7,252736983,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo is a skin care line researched & dev...,{},28.72,8,Health & Beauty,0,1,1,2017-05-09 18:33:30,False
8,793229430,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98, XL: 9.98}",9.98,400,Women's Apparel,1,0,0,2017-12-28 19:55:45,True
9,809446063,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98}",9.98,300,Women's Apparel,1,0,0,2018-01-05 16:08:24,True

In [338]:
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,Sales,more_4,is_duplicated,is_dup
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,NaN,False,False
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,NaN,False,False
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,NaN,False,False
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,NaN,False,False
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,NIKE SMALL SWOOSH: 35.0,False,False

In [22]:
print(data[["item_name","item_description","price","is_duplicated"]][data["shopid"] == 13744999])

                                                item_name  \
464415  Women Peaked Hat HipHop Curved Strapback Baseb...
464416  Women Peaked Hat HipHop Curved Strapback Baseb...
464417              Women Sexy Bandage Push Up Bikini Set
464418              Women Sexy Bandage Push Up Bikini Set
464419  Dress Women Sexy Scoop Neck Suspender Wrapped ...
464420  Dress Women Sexy Scoop Neck Suspender Wrapped ...
464421  Baby Girls 200pcs Colorful Good Elastic Hair Band
464422  Baby Girls 200pcs Colorful Good Elastic Hair Band
464423       Cute Flower Sleeveless Mesh Baby Girls Dress
464424       Cute Flower Sleeveless Mesh Baby Girls Dress
464425  Babies Beanie Hat Han Edition Cotton Letter Pr...
464426  Babies Beanie Hat Han Edition Cotton Letter Pr...
464427          Women Back Brest Dress Package Hips Dress
464428          Women Back Brest Dress Package Hips Dress
464429             Heart Alloy Pendant Necklace for women
464430             Heart Alloy Pendant Necklace for women
464431            Women Mid Elastic Waist Straight Shorts
464432            Women Mid Elastic Waist Straight Shorts

                                         item_description  price  \
464415  Style: Baseball CapMaterial: Cotton BlendColor...   4.00
464416  Style: Baseball CapMaterial: Cotton BlendColor...   5.00
464417  1.Main Fabric:82%Nylon,18%Lycra,200220GSM2.Twi...   9.00
464418  1.Main Fabric:82%Nylon,18%Lycra,200220GSM2.Twi...   9.00
464419  Style: Sexy & Club Material: Cotton Blend,Poly...   6.60
464420  Style: Sexy & Club Material: Cotton Blend,Poly...   6.50
464421  Gender: Girl Item Type: Headband Material: Acr...   5.50
464422  Gender: Girl Item Type: Headband Material: Acr...   4.00
464423  Style: Cute Material: Cotton Fabric Type: Broa...   7.57
464424  Style: Cute Material: Cotton Fabric Type: Broa...   7.57
464425  Gender: Unisex Item Type: Baby Hat Material: C...   1.40
464426  Gender: Unisex Item Type: Baby Hat Material: C...   3.00
464427  Type: Dress Gender: Womens Size Type: Regular ...   7.70
464428  Type: Dress Gender: Womens Size Type: Regular ...   8.30
464429  Gender: For Women Item Type: Pendant Necklaces...   0.60
464430  Gender: For Women Item Type: Pendant Necklaces...   3.00
464431  Style: Active Length: Mini Material: Nylon,Pol...   2.00
464432  Style: Active Length: Mini Material: Nylon,Pol...   4.00

        is_duplicated
464415          False
464416          False
464417           True
464418           True
464419          False
464420          False
464421          False
464422          False
464423           True
464424           True
464425          False
464426          False
464427          False
464428          False
464429          False
464430          False
464431          False
464432          False

In [23]:
len(data[["item_name","item_description","price","shopid"]][data["is_duplicated"] == True])

266268

In [24]:
data[data["is_duplicated"] == True]

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,is_duplicated
8,793229430,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98, XL: 9.98}",9.98,400,Women's Apparel,1,0,0,2017-12-28 19:55:45,True
9,809446063,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98}",9.98,300,Women's Apparel,1,0,0,2018-01-05 16:08:24,True
23,868293551,53609000,Original New Arrival Adidas Authentic 2017 Yea...,•\tBrand Name:Adidas•\tDepartment Name:Adult•\...,"{US5.5: 158.0, US7: 158.0, US6: 158.0, US7.5: ...",158.00,108,Men's Shoes,1,0,0,2018-01-26 14:51:16,True
24,868298757,53609000,Original New Arrival Adidas Authentic 2017 Yea...,•\tBrand Name:Adidas•\tDepartment Name:Adult•\...,"{US5.5: 158.0, US7: 158.0, US6: 158.0, US7.5: ...",158.00,108,Women's Shoes,1,0,0,2018-01-26 14:53:10,True
25,868417234,53609000,Original New Arrival Official Adidas Originals...,•\tBrand Name:Adidas•\tDepartment Name:Adult•\...,"{US8.5: 218.0, US10: 218.0, US7: 218.0, US7.5:...",218.00,144,Men's Shoes,1,0,0,2018-01-26 15:30:29,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464397,244575108,20242999,10pcs Pro Eyeshadow Eyeliner Foundation Makeu...,"Material: Plastic tube, nylon hair#Brush #make...",{},12.48,100,Health & Beauty,1,0,0,2017-05-04 00:43:36,True
464417,502347291,13744999,Women Sexy Bandage Push Up Bikini Set,"1.Main Fabric:82%Nylon,18%Lycra,200220GSM2.Twi...","{S: 9.0, M: 9.0, L: 9.0, XL: 9.0}",9.00,0,Women's Apparel,1,0,0,2017-09-19 16:27:45,True
464418,502347297,13744999,Women Sexy Bandage Push Up Bikini Set,"1.Main Fabric:82%Nylon,18%Lycra,200220GSM2.Twi...","{S: 9.0, M: 9.0, L: 9.0, XL: 9.0}",9.00,0,Women's Apparel,1,0,0,2017-09-19 16:27:45,True
464423,314601340,13744999,Cute Flower Sleeveless Mesh Baby Girls Dress,Style: Cute Material: Cotton Fabric Type: Broa...,"{9 Month: 7.57, 12 Month: 7.57, 24 Month: 7.57...",7.57,0,"Toys, Kids & Babies",1,0,0,2017-06-20 23:06:49,True
464424,314601343,13744999,Cute Flower Sleeveless Mesh Baby Girls Dress,Style: Cute Material: Cotton Fabric Type: Broa...,"{9 Month: 7.57, 12 Month: 7.57, 24 Month: 7.57...",7.57,0,"Toys, Kids & Babies",1,0,0,2017-06-20 23:06:49,True

In [25]:
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,is_duplicated
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,False
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,False
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,False
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,False
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,False

In [5]:
# 10 Find duplicate listings that has less than 2 sold count and store the result in a new excel file named “duplicated_listings.xlsx”

In [26]:
data[data["is_duplicated"] == True]

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,is_duplicated
8,793229430,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98, XL: 9.98}",9.98,400,Women's Apparel,1,0,0,2017-12-28 19:55:45,True
9,809446063,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98}",9.98,300,Women's Apparel,1,0,0,2018-01-05 16:08:24,True
23,868293551,53609000,Original New Arrival Adidas Authentic 2017 Yea...,•\tBrand Name:Adidas•\tDepartment Name:Adult•\...,"{US5.5: 158.0, US7: 158.0, US6: 158.0, US7.5: ...",158.00,108,Men's Shoes,1,0,0,2018-01-26 14:51:16,True
24,868298757,53609000,Original New Arrival Adidas Authentic 2017 Yea...,•\tBrand Name:Adidas•\tDepartment Name:Adult•\...,"{US5.5: 158.0, US7: 158.0, US6: 158.0, US7.5: ...",158.00,108,Women's Shoes,1,0,0,2018-01-26 14:53:10,True
25,868417234,53609000,Original New Arrival Official Adidas Originals...,•\tBrand Name:Adidas•\tDepartment Name:Adult•\...,"{US8.5: 218.0, US10: 218.0, US7: 218.0, US7.5:...",218.00,144,Men's Shoes,1,0,0,2018-01-26 15:30:29,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464397,244575108,20242999,10pcs Pro Eyeshadow Eyeliner Foundation Makeu...,"Material: Plastic tube, nylon hair#Brush #make...",{},12.48,100,Health & Beauty,1,0,0,2017-05-04 00:43:36,True
464417,502347291,13744999,Women Sexy Bandage Push Up Bikini Set,"1.Main Fabric:82%Nylon,18%Lycra,200220GSM2.Twi...","{S: 9.0, M: 9.0, L: 9.0, XL: 9.0}",9.00,0,Women's Apparel,1,0,0,2017-09-19 16:27:45,True
464418,502347297,13744999,Women Sexy Bandage Push Up Bikini Set,"1.Main Fabric:82%Nylon,18%Lycra,200220GSM2.Twi...","{S: 9.0, M: 9.0, L: 9.0, XL: 9.0}",9.00,0,Women's Apparel,1,0,0,2017-09-19 16:27:45,True
464423,314601340,13744999,Cute Flower Sleeveless Mesh Baby Girls Dress,Style: Cute Material: Cotton Fabric Type: Broa...,"{9 Month: 7.57, 12 Month: 7.57, 24 Month: 7.57...",7.57,0,"Toys, Kids & Babies",1,0,0,2017-06-20 23:06:49,True
464424,314601343,13744999,Cute Flower Sleeveless Mesh Baby Girls Dress,Style: Cute Material: Cotton Fabric Type: Broa...,"{9 Month: 7.57, 12 Month: 7.57, 24 Month: 7.57...",7.57,0,"Toys, Kids & Babies",1,0,0,2017-06-20 23:06:49,True

In [43]:
d5 = data[data["sold_count"] < 2]
d6 = d5[d5["is_duplicated"] == True]

In [ ]:
d6.to_excel("is_duplicated.xlsx" , index = False)

In [38]:
len(d5[d5["is_duplicated"] == True])

261786

In [55]:
## 12 Find the preferred shop shopid that have the most number of duplicated listings
d7 = data[data["is_preferred"] == 1]
d8 = d7.groupby("shopid", as_index = False).count()
d9 = d8.nlargest(1,"is_duplicated")

In [56]:
d9[["shopid","is_duplicated"]]

       shopid  is_duplicated
481  43384791           2034